In [1]:
import sklearn
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv')

In [2]:

y=df['satisfaction']

In [3]:
X = df.loc[:, df.columns != 'satisfaction']
X.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
l.fit(X[['Gender']])
df['Gender_res'] = l.transform(df[['Gender']])
df = df.drop('Gender', axis=1)
df

c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,Unnamed: 0,id,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Gender_res
0,0,70172,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,4,3,4,4,5,5,25,18.0,neutral or dissatisfied,1
1,1,5047,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,5,3,1,4,1,1,6.0,neutral or dissatisfied,1
2,2,110028,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,4,3,4,4,4,5,0,0.0,satisfied,0
3,3,24026,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,5,3,1,4,2,11,9.0,neutral or dissatisfied,0
4,4,119299,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,4,4,3,3,3,0,0.0,satisfied,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,3,1,4,2,3,2,3,0.0,neutral or dissatisfied,0
103900,103900,73097,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,4,0,0.0,satisfied,1
103901,103901,68825,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,3,2,4,5,5,4,7,14.0,neutral or dissatisfied,1
103902,103902,54173,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,4,5,1,5,4,1,0,0.0,neutral or dissatisfied,0
103903,103903,62567,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,4,4,3,1,0,0.0,neutral or dissatisfied,1

In [5]:
l = LabelEncoder()
l.fit(X[['Type of Travel']])
df['Type of Travel_res'] = l.transform(df[['Type of Travel']])
df = df.drop('Type of Travel', axis=1)
df

c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,Unnamed: 0,id,Customer Type,Age,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Gender_res,Type of Travel_res
0,0,70172,Loyal Customer,13,Eco Plus,460,3,4,3,1,...,3,4,4,5,5,25,18.0,neutral or dissatisfied,1,1
1,1,5047,disloyal Customer,25,Business,235,3,2,3,3,...,5,3,1,4,1,1,6.0,neutral or dissatisfied,1,0
2,2,110028,Loyal Customer,26,Business,1142,2,2,2,2,...,3,4,4,4,5,0,0.0,satisfied,0,0
3,3,24026,Loyal Customer,25,Business,562,2,5,5,5,...,5,3,1,4,2,11,9.0,neutral or dissatisfied,0,0
4,4,119299,Loyal Customer,61,Business,214,3,3,3,3,...,4,4,3,3,3,0,0.0,satisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,disloyal Customer,23,Eco,192,2,1,2,3,...,1,4,2,3,2,3,0.0,neutral or dissatisfied,0,0
103900,103900,73097,Loyal Customer,49,Business,2347,4,4,4,4,...,5,5,5,5,4,0,0.0,satisfied,1,0
103901,103901,68825,disloyal Customer,30,Business,1995,1,1,1,3,...,2,4,5,5,4,7,14.0,neutral or dissatisfied,1,0
103902,103902,54173,disloyal Customer,22,Eco,1000,1,1,1,5,...,5,1,5,4,1,0,0.0,neutral or dissatisfied,0,0
103903,103903,62567,Loyal Customer,27,Business,1723,1,3,3,3,...,1,4,4,3,1,0,0.0,neutral or dissatisfied,1,0

In [6]:

l = LabelEncoder()
l.fit(y)
df['satisfaction_res'] = l.transform(df[['satisfaction']])
df = df.drop('satisfaction', axis=1)
#df

c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [7]:
l.fit(X[['Customer Type']])
df['Customer Type_res'] = l.transform(df[['Customer Type']])
df = df.drop('Customer Type', axis=1)
df

c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,Unnamed: 0,id,Age,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_res,Type of Travel_res,satisfaction_res,Customer Type_res
0,0,70172,13,Eco Plus,460,3,4,3,1,5,...,4,4,5,5,25,18.0,1,1,0,0
1,1,5047,25,Business,235,3,2,3,3,1,...,3,1,4,1,1,6.0,1,0,0,1
2,2,110028,26,Business,1142,2,2,2,2,5,...,4,4,4,5,0,0.0,0,0,1,0
3,3,24026,25,Business,562,2,5,5,5,2,...,3,1,4,2,11,9.0,0,0,0,0
4,4,119299,61,Business,214,3,3,3,3,4,...,4,3,3,3,0,0.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,23,Eco,192,2,1,2,3,2,...,4,2,3,2,3,0.0,0,0,0,1
103900,103900,73097,49,Business,2347,4,4,4,4,2,...,5,5,5,4,0,0.0,1,0,1,0
103901,103901,68825,30,Business,1995,1,1,1,3,4,...,4,5,5,4,7,14.0,1,0,0,1
103902,103902,54173,22,Eco,1000,1,1,1,5,1,...,1,5,4,1,0,0.0,0,0,0,1
103903,103903,62567,27,Business,1723,1,3,3,3,1,...,4,4,3,1,0,0.0,1,0,0,0

In [8]:
l.fit(X[['Class']])
df['Class_res'] = l.transform(df[['Class']])
df = df.drop('Class', axis=1)
df

c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\ASUS\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_res,Type of Travel_res,satisfaction_res,Customer Type_res,Class_res
0,0,70172,13,460,3,4,3,1,5,3,...,4,5,5,25,18.0,1,1,0,0,2
1,1,5047,25,235,3,2,3,3,1,3,...,1,4,1,1,6.0,1,0,0,1,0
2,2,110028,26,1142,2,2,2,2,5,5,...,4,4,5,0,0.0,0,0,1,0,0
3,3,24026,25,562,2,5,5,5,2,2,...,1,4,2,11,9.0,0,0,0,0,0
4,4,119299,61,214,3,3,3,3,4,5,...,3,3,3,0,0.0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,23,192,2,1,2,3,2,2,...,2,3,2,3,0.0,0,0,0,1,1
103900,103900,73097,49,2347,4,4,4,4,2,4,...,5,5,4,0,0.0,1,0,1,0,0
103901,103901,68825,30,1995,1,1,1,3,4,1,...,5,5,4,7,14.0,1,0,0,1,0
103902,103902,54173,22,1000,1,1,1,5,1,1,...,5,4,1,0,0.0,0,0,0,1,1
103903,103903,62567,27,1723,1,3,3,3,1,1,...,4,3,1,0,0.0,1,0,0,0,0

In [9]:
df = df.drop('id', axis=1)
df

,Unnamed: 0,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_res,Type of Travel_res,satisfaction_res,Customer Type_res,Class_res
0,0,13,460,3,4,3,1,5,3,5,...,4,5,5,25,18.0,1,1,0,0,2
1,1,25,235,3,2,3,3,1,3,1,...,1,4,1,1,6.0,1,0,0,1,0
2,2,26,1142,2,2,2,2,5,5,5,...,4,4,5,0,0.0,0,0,1,0,0
3,3,25,562,2,5,5,5,2,2,2,...,1,4,2,11,9.0,0,0,0,0,0
4,4,61,214,3,3,3,3,4,5,5,...,3,3,3,0,0.0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,23,192,2,1,2,3,2,2,2,...,2,3,2,3,0.0,0,0,0,1,1
103900,103900,49,2347,4,4,4,4,2,4,5,...,5,5,4,0,0.0,1,0,1,0,0
103901,103901,30,1995,1,1,1,3,4,1,5,...,5,5,4,7,14.0,1,0,0,1,0
103902,103902,22,1000,1,1,1,5,1,1,1,...,5,4,1,0,0.0,0,0,0,1,1
103903,103903,27,1723,1,3,3,3,1,1,1,...,4,3,1,0,0.0,1,0,0,0,0

In [10]:
y=df['satisfaction_res']
X_ = df.loc[:, df.columns != 'satisfaction_res']
X_.isnull().sum()

Unnamed: 0                             0
Age                                    0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
Gender_res                             0
Type of Travel_res                     0
Customer Type_res                      0
Class_res                              0
dtype: int64

In [11]:
X = X_.dropna(axis=1)
X.isnull().sum()

Unnamed: 0                           0
Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Gender_res                           0
Type of Travel_res                   0
Customer Type_res                    0
Class_res                            0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

X_train , X_test, y_train , y_test = train_test_split(X, y, test_size = 0.2)
clf = DecisionTreeClassifier()
clf.fit(X_train , y_train)
y_predict = clf.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_predict,y_test)

0.9449497136807661

In [20]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier

clf_svm=BaggingClassifier(SVC(kernel = 'rbf',degree=5,probability=True),n_estimators=5,max_samples=2000)
clf_svm.fit(X_train, y_train)

clf_svm.score(X_test,y_test)

0.6568500072181319

In [22]:

clf_svm=BaggingClassifier(SVC(kernel = 'rbf',degree=5,C=5,probability=True),n_estimators=5,max_samples=2000)
clf_svm.fit(X_train, y_train)

clf_svm.score(X_test,y_test)

0.6573793368942784

In [24]:
clf_svm=BaggingClassifier(SVC(kernel = 'rbf',degree=4,C=5,probability=True),n_estimators=10,max_samples=1000)
clf_svm.fit(X_train, y_train)

clf_svm.score(X_test,y_test)

0.6590154468023676

In [27]:
for this_gamma in [0.01, 1, 5]:
    
    for this_C in [0.1, 1, 15, 250]:
        
        
        clf_loop = BaggingClassifier(SVC(kernel = 'rbf', gamma = this_gamma,C = this_C,probability=True),n_estimators=10,max_samples=1000).fit(X_train, y_train)
        print("Accuracy on train when gamma: ",this_gamma,"and C:",this_C,clf_loop.score(X_train, y_train) )
        print("Accuracy on test when gamma: ",this_gamma,"and C:",this_C,clf_loop.score(X_test,y_test) )

Accuracy on train when gamma:  0.01 and C: 0.1 0.5639834943397134
Accuracy on test when gamma:  0.01 and C: 0.1 0.5629661710216063
Accuracy on train when gamma:  0.01 and C: 1 0.564103797986117
Accuracy on test when gamma:  0.01 and C: 1 0.5629180501419566
Accuracy on train when gamma:  0.01 and C: 15 0.5646812554888538
Accuracy on test when gamma:  0.01 and C: 15 0.5629661710216063
Accuracy on train when gamma:  0.01 and C: 250 0.5645368911131696
Accuracy on test when gamma:  0.01 and C: 250 0.5629661710216063
Accuracy on train when gamma:  1 and C: 0.1 0.5643684660082047
Accuracy on test when gamma:  1 and C: 0.1 0.5629661710216063
Accuracy on train when gamma:  1 and C: 1 0.5642361319971608
Accuracy on test when gamma:  1 and C: 1 0.5629661710216063
Accuracy on train when gamma:  1 and C: 15 0.5640075550689941
Accuracy on test when gamma:  1 and C: 15 0.5629661710216063
Accuracy on train when gamma:  1 and C: 250 0.5640677068921959
Accuracy on test when gamma:  1 and C: 250 0.5629661710216063
Accuracy on train when gamma:  5 and C: 0.1 0.5638631906933099
Accuracy on test when gamma:  5 and C: 0.1 0.5629661710216063
Accuracy on train when gamma:  5 and C: 1 0.5638030388701082
Accuracy on test when gamma:  5 and C: 1 0.5629661710216063
Accuracy on train when gamma:  5 and C: 15 0.5641278587153976
Accuracy on test when gamma:  5 and C: 15 0.5629661710216063
Accuracy on train when gamma:  5 and C: 250 0.5638270995993888
Accuracy on test when gamma:  5 and C: 250 0.5629661710216063